@import url('https://fonts.googleapis.com/css?family=Warnes');
html { height: 100%; }
body {
    /* position: relative; */
    margin: 25px;
    height: 100%;
    background: linear-gradient(#0e0b16, #12727c );
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    /* text-align: center; */
}

.navigation {
  text-align: center;
  padding-bottom: 4%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
}

.item {
  flex: none;
  width: 35%;
  max-height: auto;
  min-height: 300px;
  padding: 30px;
  margin: 15px;
  vertical-align: top;
  align-content: space-between;
  /* background: #f2f2f2;
  border-radius: 25px; */
  background: #111616; opacity: 0.5;
  color: #f2f2f2; opacity: 1;
  border-radius: 25px;
  box-shadow:
    -2px -2px 10px #fff,
    2px 2px 10px #fff,
    0 0 20px #0e4e54,
    0 0 40px #0e4e54,
    0 0 60px #0e4e54,
    0 0 80px #0e4e54,
    0 0 100px #0e4e54;

}

.item-about {
  flex: none;
  width: 50%;
  max-height: auto;
  padding: 25px;
  margin: 10px;
  vertical-align: top;
  align-content: space-between;
  background: #111616; opacity: 0.5;
  color: #f2f2f2; opacity: 1;
  border-radius: 25px;
  box-shadow:
    -2px -2px 10px #fff,
    2px 2px 10px #fff,
    0 0 20px #0e4e54,
    0 0 40px #0e4e54,
    0 0 60px #0e4e54,
    0 0 80px #0e4e54,
    0 0 100px #0e4e54;

}


.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.nav-item {
  flex: none;
  max-width: 100%;
}


.quiz-item-two {
  position: absolute;
  left:50%;
  padding-top: 10px;
  width: 80%;
}


html {
  /* background: #; */
  margin: auto;
}


h1 {
	font-family: 'Warnes', cursive;
	font-weight: normal;
  text-align: center;
	font-size: 3.7em;
	line-height: 1.2em;
	color: rgba(255,255,255,1);
  padding-top: 4%;
}

.neon_text {
	text-shadow:
		-2px -2px 10px #fff,
		2px 2px 10px #fff,
		0 0 20px #4717F6,
		0 0 40px #4717F6,
		0 0 60px #4717F6,
		0 0 80px #4717F6,
		0 0 100px #4717F6;
}


/* BUTTONS */


* {
  font-family: 'Roboto', sans-serif;
}
/* .btn-container {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
} */
button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #241c3a;
  color:#241c3a;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: #241c3a;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SUBMIT";
  }
}
.onclic {
  width: 40px;
  border-color:gray;
  border-width:3px;
  font-size:0;
  border-left-color:#241c3a;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:#241c3a;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: #241c3a;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
