html { height: 100%; }
body {
    /* position: relative; */
    margin: 25px;
    height: 100%;
    background: linear-gradient(#0e0b16, #12727c );
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    /* text-align: center; */
}

h2 {
	font-family: 'Bungee Inline', cursive;
	font-weight: normal;
  text-align: center;
  letter-spacing: 1.5px;
	color: #f2f2f2;
}

h2.name {
  font-size: 2em !important;
  /* line-height: 2em; */
  padding: 0;
  padding-top: 10px;
  margin: 5px;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  letter-spacing: 1.5px;
  /* left:15%; */
  /* margin-left: 20%; */
}
p.study-ingredients {
  color: #12727c !important;
  text-align: center !important;
  font-family: 'Glegoo', serif !important;
}

p.form-ingredients {
  color: #fff !important;
  text-align: left !important;
  font-family: 'Glegoo', serif !important;
}

p.instructions {
    vertical-align: text-bottom
    !important;
    padding-bottom: 5px !important;
}

h4 {
	font-family: 'helvetica', sans-serif;
	font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
	color: #f2f2f2;
}

h3 {
	font-family: 'helvetica', sans-serif;
	font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
	color: #f2f2f2;
}

.navigation {
  text-align: center;
  padding-bottom: 4%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.item {
  flex: none;
  width: 30%;
  min-height: 300px;
  height: auto;
  width: 50%
  /* width: 400px; */
  padding: 10px;
  padding-left: 30px;
  padding-right: 25px;

  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;

  vertical-align: top;
  /* align-content: space-between; */
  /* background: #f2f2f2;
  border-radius: 25px; */
  background: #111616; opacity: 0.5;
  color: #f2f2f2; opacity: 1;
  border-radius: 25px;
  box-shadow:
    -2px -2px 10px #fff,
    2px 2px 10px #fff,
    0 0 20px #0e4e54,
    0 0 40px #0e4e54,
    0 0 60px #0e4e54,
    0 0 80px #0e4e54,
    0 0 100px #0e4e54;

}

.item-about {
  flex: none;
  width: 50%;
  max-height: auto;
  padding: 25px;
  margin: 10px;
  vertical-align: top;
  text-align: center;
  align-content: space-between;
  background: #111616;
  color: #f2f2f2; opacity: 1;
  border-radius: 25px;
  box-shadow:
    -2px -2px 10px #fff,
    2px 2px 10px #fff,
    0 0 20px #0e4e54,
    0 0 40px #0e4e54,
    0 0 60px #0e4e54,
    0 0 80px #0e4e54,
    0 0 100px #0e4e54;
}

.item-homepage {
  flex: none;
  width: 75%;
  max-height: auto;
  padding: 25px;
  margin: 10px;
  vertical-align: top;
  text-align: center;
  align-content: space-between;
  background: #111616;
  color: #f2f2f2; opacity: 1;
  border-radius: 25px;
  box-shadow:
    -2px -2px 10px #fff,
    2px 2px 10px #fff,
    0 0 20px #0e4e54,
    0 0 40px #0e4e54,
    0 0 60px #0e4e54,
    0 0 80px #0e4e54,
    0 0 100px #0e4e54;
}


.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.nav-item {
  flex: none;
  max-width: 100%;
}


.quiz-item-two {
  position: absolute;
  left:45%;
  padding-top: 10px;
  width: 80%;
}

h1 {
	font-family: 'Warnes', cursive;
	font-weight: normal;
  text-align: center;
	font-size: 3.7em;
	line-height: 1.2em;
	color: rgba(255,255,255,1);
  /* padding-top: 4%; */
}

img {
    border-radius: 50%;
    width: 25%;
    margin: 0;
    padding: 0;
    height: auto;
    opacity: 0.8;
}

input{
    width: 100%;
    position: relative;
    float: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* img#card {
  border-radius: 50%;
  width: 50%;
  float: center !important;
  height: auto;
  opacity: 1;
} */

.recipe-front {
  float: center;
  vertical-align: center;
}

.neon_text {
	text-shadow:
		-2px -2px 10px #fff,
		2px 2px 10px #fff,
		0 0 20px #4717F6,
		0 0 40px #4717F6,
		0 0 60px #4717F6,
		0 0 80px #4717F6,
		0 0 100px #4717F6;
}

button {
  font-family: "helvetica", sans-serif;
  outline:none;
  height: 50px;
  text-align: center;
  width: 130px;
  border-radius:25px;
  background: #fff;
  border: 2px solid #241c3a;
  color:#241c3a;
  letter-spacing:1px;
  text-shadow:0;

  font:{
    size:12px;
    weight:bold;
    }
  }

  button.picked {
    background-color: #2F6D76 !important;
    color: #fff !important;
  }

  button.gone {
    background-color: #2F6D76;
    color: #fff;
    height: 20px;
    width: 60px;
    border-radius:5%;
    margin-right: 5px;
      border: 1.5px solid #969696;
  }

  /* button.score {
    background-color: #2F6D76;
    color: #fff;
    height: 100px;
    width: 100px;
    border-radius:50%;
    margin-right: 5px;
      border: 1.5px solid #969696;
  } */

  /* .drink-score {
      position: absolute;
      top:55%; left:28%;
      height:300px; width:150px;
      margin-top:-100px; margin-left:-50px;
  } */
